{% extends "layout.html" %}
{% block head %}
    <title>{{company}} Career's Page</title>
    <style>
      #banner{
        height: 320px;
        width: 100%;
        object-fit: cover;
      }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
      <img  class="img-fluid" id="banner" src="./static/banner.jpg" alt="banner image"/>
      <h2 class="mt-4 text-center">About {{company}}</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">{{desc}}</p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img src="./static/people-working.jpg" alt="people working" style="height:400px;"/>          
        </div>
      </div>
    <h2 class="mt-4">Open Positions</h2>
    <div>
      {% for job in jobs%}
        {% include './components/jobitem.html' %}
      {% endfor%}
    </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
      </div>
    </div>
{% endblock %}